.HomePage .shopping-cart {
    position: fixed;
    top: 120px;
    right: 60px;
    display: inline;
    font-size: 18px;
    cursor: pointer;
    color: #007BFF;
}

.HomePage .shopping-cart svg {
    width: 30px;
    height: 30px;
}

.HomePage .shopping-cart p {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
}