@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './Header.css';
@import './HomePage.css';
@import './ProductList.css';
@import './ProductItem.css';
@import './DetailProduct.css';
@import './Basket.css';
@import './Loading.css';
@import './AboutPage.css';
@import './ContactPage.css';
@import './Footer.css';

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
    font-family: "Inter", serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}