.ProductItem {
    width: 260px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    
    &:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }
}

.ProductItem img {
    width: 100%;
    height: 275px;
    object-fit: contain;
}

.ProductItem .title {
    font-size: 1rem;
    margin: 15px 10px 5px;
    color: #222;
}

.ProductItem .description,
.ProductItem .price {
    font-size: .8rem;
    margin: 5px 10px 15px;
    color: #555;
}

.ProductItem .price {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.ProductItem .product-btn {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    border-radius: 6px;
    padding: 8px 10px;
    margin-right: 10px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
        transform: scale(1.1);
    }
}

.ProductItem .product-btn svg {
    width: 20px;
    height: 20px;
}