.CartItem {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.CartItem img {
    width: 70px;
}

.CartItem .content {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.CartItem .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CartItem .name h3 {
    font-size: .9rem;
    font-weight: 500;
    color: #333;
}

.CartItem .name svg {
    width: 50px;
    width: 50px;
    color: #ff4d4d;
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.2s ease;
}

.CartItem .name svg:hover {
    transform: scale(1.3);
}

.CartItem .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CartItem .amount {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.CartItem .amount svg {
    font-size: 1.2rem;
    cursor: pointer;
    color: #333;
    transition: transform 0.2s ease;
    padding: 1px;
    background: #efeded;
}

.CartItem .amount svg:hover {
    transform: scale(1.2);
}

.CartItem .amount {
    font-weight: 500;
    color: #333;
}

.CartItem .price p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
    color: #555;
}

.CartItem .price p:first-of-type {
    font-weight: 600;
}

.CartItem .price p:last-of-type {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}